#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
    animation: fadein 0.5s, fadeout 0.5s 2s;
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
#aboutImage {
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: 20% 10%;
}

.division0 {
  margin: 5%;
  padding: 2%;
  text-align: center;
}

.division1 {
  background: white;
  margin: 2%;
}

.division2 {
  text-align: right;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 1%;
  margin-right: 1%;
}

.nav-item {
  padding-right: 10px;
}
#btnScrollToTopId {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #B0C4DE;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  outline: none;
  display: none;
}
#btnScrollToTopId:active {
  background: #c8bae9;
}
.item {
  text-align: right;
  margin: 10px;
  min-height: 280px;
  /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.wisdom-icon {
  margin-left: 10px;
  margin-bottom: 5px;
  /* margin-right: 10px; */
}
form.login {
  width: 80%;
  margin: auto;
}

input {
  width: 50%;
}
.navbar-brand {
  margin-right: 1rem;
}
.form-control {
  width: auto !important;
}
form {
  display: inline;
}

.formDiv {
  margin-bottom: 30px;
}

div.formDiv input {
  width: auto;
}

blockquote {
  border-left: none
}

.quote-badge {
  background-color: rgba(0, 0, 0, 0.2);
}

.quote-box {
  text-align: right;
  overflow: auto;
  margin-top: 25px;
  border-radius: 17px;
  background-color: #B0C4DE;
  box-shadow: 2px 2px 2px 2px #E0E0E0;
}

.quotation-mark {
  margin-top: -10px;
  font-weight: bold;
  font-size: 100px;
  font-family: "Times New Roman", Georgia, Serif;
}
.font-size-control {
  display: flex;
  justify-content: flex-end;
}
.quote-text {
  margin: -0px 50px 0px 50px;
  font-size: 30px;
  margin-top: -65px;
  /* word-wrap: break-word; */
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

 a {
   text-decoration: none;
 }
 #txtarea {
  width: 100%;
  text-align: right;
  overflow: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 2px 2px 2px 2px #E0E0E0;
  font-size: 30px;
}
/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #B0C4DE;
  color: #fff;
  transition: all 0.3s;
  position: sticky;
  top: 0px;
  left: 0px;
  overflow: scroll;
  height: 100vh;
  z-index: 1;
}

#sidebar.active {
  margin-right: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #9bafca;
  text-align: right;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
  text-align: right;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  transition: all 0.3s;
}

.search-form {
  display: flex;
}

.social-media-icon {
  height: 25px;
  width: auto;
}

#xmark {
  position: fixed;
  top: 25px;
  left: 25px;
  visibility: hidden;
}

.sidebar-header {
  position: sticky;
  top: 0;
  right: 0;
}

#loading {
  text-align: center;
}
#showMoreBtn {
  display: none;
}
.share-link {  
  display: none  
}  
.gradient-custom {
  /* fallback for old browsers */
  background: #d7d7d7;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(215, 215, 215, 0.4), rgba(146, 146, 146, 0.4));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(215, 215, 215, 0.4), rgba(146, 146, 146, 0.4))
}
.add-button {
  display: none;
}
/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  body.scroll-disable {
    overflow: hidden;
  }

  #sidebar {
    margin-right: -250px;
    position: fixed;
    top: 0;
    right: 0;
  }

  #sidebar.active {
    margin-right: 0;
  }
  .navbar-brand {
    margin-right: 0;
  }
  #sidebarCollapse span {
    display: none;
  }

  #content.inactive {
    opacity: 0.7;
    pointer-events: none;
    user-select: none;
  }

  #xmark.show {
    padding: 3%;
    visibility: visible;
    z-index: 1;
  }
  .add-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  .share-link {  
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(50%);
    background-color: #f1f1f1;
  }  
  .number-of-messages {
    position: fixed;
    bottom: 35px;
    right: 19px;
    width: 20px;
    height: 20px;
    clip-path: circle(50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-button {
    display: inline;
  }
}